* {
    font-family: Helvetica,monospace;
}

body {
    padding-top: 50px;
}

.navbar-search .search-query {
    height: 28px;
}

.available {
    color: #009933;
}

.not_available {
    color: 800000;
}

.book_thumb {
    width: 200px;
    float: left;
    padding: 20px;
}

.book_detail {
    margin-left: 250px;
    position: relative;
    height: 225px;
    padding-top: 20px;
}

.book_detail .author {
    font-style: italic;
}

.book_detail .action {
    position: absolute;
    bottom: 0px;
}

.recommended .thumbnails li {
    clear: both;
    margin-left: 0px;
}