<html>
<head>
    <title>Buy your favorite book</title>
    <script type="text/javascript" src="javascripts/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="javascripts/order_books.js"></script>
</head>
<body>
#if ($flash_message)
    <div class="flash">$flash_message</div>
#end
#if($books.isEmpty())
<h1>No books available right now.</h1>
#else
<h1>Select a book you like</h1>

<div>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Book</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
            #foreach ( $book in $books )
            <tr>
                <td>
                    <form action="$req.getContextPath()/books/buy" method="post">
                        <input type="hidden" name="isbn" value="$book.isbn"/>
                        <input type="hidden" name="name" value="$book.name"/>
                        <input type="radio" name="isbn_check" class="book_isbn"/>
                    </form>
                </td>
                <td>$book.name</td>
                <td>$book.author</td>
            </tr>
            #end
        </tbody>
    </table>
</div>
<div>
    <input type="submit" value="Buy" class="submit">
    <input type="reset" value="Reset">
</div>
</body>
<script type="text/javascript">
    var orderBooks = new OrderBooks();
    orderBooks.registerChangeEvent(".book_isbn");
    orderBooks.clickHandler(".submit");
</script>
</html>
#end